.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    max-width: 344px;
    min-height: 437px;
    background-color: #fff;
    padding: 20px;


    text-align: center;
    border-radius: 1rem;
    color: #505050;
}

.card-container h3 {
    color: #505050;
    font-size: 24px;
    position: relative;
    margin-top: 15%;
    margin-bottom: 25%;
}

.card-container p {
    color: #474747;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex: 1;
    align-items: center;
}