* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Reem Kufi', sans-serif;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  width: 100%;
  max-width: 1900px;
  margin: 0rem auto;
}

.tag {
  color: #F4980D;
  font-weight: bold;
  font-size: 20px;
}

h1 {
  color: #4C4C4C;
  font-size: clamp(2rem, 5vw, 4rem);
  line-height: 1.3;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f6f6f6;
}

/*Responsive*/

@media (max-width: 1000px) {
  .navbar a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .booking-btn {
    font-size: 1rem;
  }

  .home-image-container {
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }

  .nav-items {
    display: none;
  }

  .navbar-menu-container{
    display: flex;
  }

  .home-bannerImage-container {
    max-width: 450px;
  }

  .home-description,
  .about-description-text {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .home-description {
    margin-left: 0%;
  }

  .about-container {
    flex-direction: column;
  }

  .home-container {
    flex-direction: column-reverse;
  }

  .home-image-container {
    align-self: center;
  }

  .home-image-container,
  .about-image-container {
    width: 100%;
    max-width: 400px;
  }

  h1 {
    text-align: center;
    max-width: 90%;
  }

  .primary-text {
    text-align: center;
    max-width: 80%;
  }

  .home-description,
  .about-description {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .order-btn {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
  }

  .about-container {
    margin-top: 5rem !important;
  }

  .about-btns {
    justify-content: center;
    flex-direction: column;
  }

  .tag {
    text-align: center;
  }

  .watch-video-container {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }

  .watch-video-container svg {
    margin-right: 0.5rem !important;
  }

  .about-image-container {
    margin-right: 0rem !important;
  }

  .work-container {
    margin-top: 5rem !important;
  }

  .testimonial-card {
    margin: 0 1rem;
  }

  .card-container {
    margin-top: 1rem !important;
  }

  .contact-container h1 {
    max-width: 400px;
  }

  .contact-form {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }

  .contact-form input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-section-one {
    align-items: flex-start;
  }

  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }

  .footer-section-columns {
    margin: 1rem 0rem;
  }

  .App {
    max-width: 95vw;
  }
}

@media (max-width: 650px) {

  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}